* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif; /*"Roboto": Unknown word.*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
}

.todo-container {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px Orgba(0, 0, 0, 0.1); /*"rgba": Unknown word.*/
  width: 350px;
  text-align: center;
}

.todo-container__header {
  font-size: 24px;
  margin-bottom: 16px;
}

.todo-container__form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.todo-container__input {
  flex: 1;
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.todo-container__button {
  background-color: green;
  color: white;
  border: none;
  padding: 8px 17px;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.todo-container__button:hover {
  background-color: green;
}

.render-contanier {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.render-contanier__title {
  font-size: 18px;
  margin-bottom: 10px;

  display: flex;
  justify-content: center;
}

.render-contanier__section {
  width: 100%;
  text-align: left;
}

.render-contanier__title {
  font-size: 10px;
  margin-bottom: 10px;

  display: flex;
  justify-content: center;
}

.render-contanier__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.render-contanier__item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 8px;
  border-bottom: 1px solid #ddd;
  background-color: #f9f9f9;
  border-radius: 6px;
  border-bottom: 6px;
  width: 100%;
}

.render-contanier__item-text {
  flex: 1;
}

.render-contanier__item-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 12px;
  font-size: 12px;
  transition: background-color 0.3s ease;
}

.render-contanier__item-button:hover {
  background-color: #c82333;
}
